/* page {
    font-size: 14px;
    color: #474747;
    background: #f9f9f9;
} */

page,
view,
button,
label,
input,
textarea {
	box-sizing: border-box;
}

form {
	display: block;
}

button {
	transition: all 0.2s;
	font-size: 16px;
	border-radius: 2px;
	background-color: white;
}

button::after {
	border: none;
}

label {
	line-height: 44upx;
	display: inline-block;
}

input,
textarea {
	width: 100%;
	line-height: 44upx;
	height: auto;
	/* padding: 30upx 0; */
	font-size: 14px;
}

textarea {
	height: 200upx;
}

radio .wx-radio-input,
checkbox .wx-checkbox-input {
	width: 18px;
	height: 18px;
	/*border: $default-border;*/
	transform: translateY(-2upx);
	transition: all 0.1s;
	border-radius: 50%;
}

radio[checked] .wx-radio-input.wx-radio-input-checked,
checkbox .wx-checkbox-input.wx-checkbox-input-checked {
	background-color: #09bb07;
	border-color: #09bb07;
}

radio .wx-radio-input.wx-radio-input-checked::before,
checkbox .wx-checkbox-input.wx-checkbox-input-checked::before {
	font-size: 20px;
	margin-top: -1px;
	color: #fff;
}

radio::before,
checkbox::before {
	margin-top: -10px;
	right: 2px;
}

checkbox-group>label,
radio-group>label {
	line-height: 22px;
	vertical-align: middle;
	margin-right: 12px;
	padding: 0;
}

switch .wx-switch-input {
	margin: 0;
	width: 44px;
	height: 24px;
}

switch .wx-switch-input ::before {
	background-color: darken(white, 5%);
	width: 42px;
	height: 22px;
}

switch .wx-switch-input ::after {
	width: 22px;
	height: 22px;
}

navigator {
	color: #10aeff;
}

.navigator-hover {
	background-color: transparent;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	line-height: 1.5;
	font-weight: 600;
}

.h1 {
	font-size: 42px;
}

.h2 {
	font-size: 32px;
}

.h3 {
	font-size: 24px;
}

.h4 {
	font-size: 18px;
}

.h5 {
	font-size: 14px;
}

.h6 {
	font-size: 12px;
}

.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.required::after {
	content: '*';
	color: red;
}

.ellipsis-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal !important;
	word-wrap: break-word;
	display: -webkit-box;
	/** 对象作为伸缩盒子模型显示 **/
	-webkit-box-orient: vertical;
	/** 设置或检索伸缩盒对象的子元素的排列方式 **/
	-webkit-line-clamp: 2;
	/** 显示的行数 **/
}

.container {
	padding: 30upx;
	display: block;
	/* height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
	flex: 0 1 auto;
	margin: 15px; */
}

.p {
	color: gray;
}

.p:not(:last-child) {
	margin-bottom: 20upx;
}

/**
 * ui样式
 */
.radius-xs {
	border-radius: 2upx !important;
}

.radius-sm {
	border-radius: 6upx !important;
}

.radius {
	border-radius: 10upx !important;
}

.radius-lg {
	border-radius: 14upx !important;
}

.radius-xl {
	border-radius: 16upx !important;
}

.radius-xxl {
	border-radius: 20upx !important;
}

.radius-sl {
	border-radius: 30upx !important;
}

.radius-sl {
	border-radius: 40upx !important;
}

/**
 * 图片懒样式
 */
.image-wrapper {
	position: relative;
	overflow: hidden;
}

.image-wrapper::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #F1F1F1;
	background-size: 100% 100%;
	opacity: 1;
}

.image-wrapper image {
	position: relative;
	z-index: 1;
	background: transparent;
	/* opacity: 0; */
	width: 100%;
	height: 100%;
}

.image-wrapper.loaded image {
	transition: .7s;
	opacity: 1 !important;
}
