.form-group {
	margin-bottom: 30upx;
	background-color: white;
}

.form-group::after {
	content: '';
	display: block;
	clear: both;
}

.form-item {
	position: relative;
	padding-left: 30upx;
	padding-right: 30upx;
}

.form-item label {
	margin-top: 30upx;
	line-height: 1.8;
	display: inline-block;
}

.form-item .form-item-counter {
	position: absolute;
	bottom: 10upx;
	right: 30upx;
}

.form-btn-group {
	margin: 30upx;
	padding-bottom: 30upx;
}

.form-item input,
.form-item textarea {
	border-bottom: 1px solid #eee;
}
