.form-group {
	margin-bottom: 30upx;
	background-color: white;
}

.form-group::after{
	content: '';
	display: block;
	clear: both;
}

.form-item {
	position: relative;
	margin-bottom: 30upx;
	padding-left: 30upx;
	padding-right: 30upx;
}

.form-item label{
	line-height: 1.8;
}

.form-item .form-item-counter {
	position: absolute;
	bottom: 10upx;
	right: 0;
}

.form-group.form-simple .form-item:not(:last-child){
	margin-bottom: 0;
}

.form-btn-group{
	margin: 30upx;
	padding-bottom: 30upx;
}
