.form-group {
	margin-bottom: 30rpx;
	background-color: white;
}

.form-group::after{
	content: '';
	display: block;
	clear: both;
}

.form-item {
	position: relative;
	margin-bottom: 30rpx;
	padding-left: 30rpx;
	padding-right: 30rpx;
}

.form-item label{
	line-height: 1.8;
}

.form-item .form-item-counter {
	position: absolute;
	bottom: 10rpx;
	right: 0;
}

.form-btn-group{
	margin: 30rpx;
	padding-bottom: 30rpx;
}
